<div class="login-page">
    <mat-card class="login-card">
        <h2 class="login-title">My Shop – Login</h2>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Firstname</mat-label>
            <input matInput formControlName="firstname" />
            @if (loginForm.get('firstname')?.hasError('required')) {
            <mat-error>
            Firstname is required
            </mat-error>
            }
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Lastname</mat-label>
            <input matInput formControlName="lastname" />
            @if (loginForm.get('lastname')?.hasError('required')) {
            <mat-error>
            Lastname is required
            </mat-error>
            }
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
            @if (loginForm.get('email')?.hasError('required')) {
            <mat-error>
            Email is required
            </mat-error>
            }
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" />
            @if (loginForm.get('password')?.hasError('required')) {
            <mat-error>
            Password is required
            </mat-error>
            }
        </mat-form-field>

        <button mat-raised-button type="submit" class="login-button">
            Login
        </button>
        </form>

        <div class="status">
            <p *ngIf="error$ | async as error" class="error-text">{{ error }}</p>
        </div>
    </mat-card>
</div>
