:focus-visible {
    outline: 3px solid rgba(21, 101, 192, 0.85);
    outline-offset: 3px;
    border-radius: 10px;
}

:focus:not(:focus-visible) {
    outline: none;
}

.mat-mdc-snack-bar-container.toast-success {
    --mdc-snackbar-container-color: #2e7d32;
}

.mat-mdc-snack-bar-container.toast-error {
    --mdc-snackbar-container-color: #c62828;
}

.mat-mdc-snack-bar-container.toast-info {
    --mdc-snackbar-container-color: #1565c0;
}

.mat-mdc-snack-bar-container.toast-warning {
    --mdc-snackbar-container-color: #ef6c00;
}